.example-viewport {
  height: 80vh;
  width: 100%;
  //   border: 1px solid black;
}

.couse-details {
  background: #222222;
  width: fit-content;
  color: white;
  font-size: smaller;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.searchbar {
  width: 50%;
  border: 1px solid #cccccc;
  outline: none;
  margin-bottom: 5px;
}

.searchbar:focus {
  border: 1px solid #222222;
}

.progress-bar {
  position: absolute;
  bottom: 0px;
}

.example-item {
  border: 1px solid #222222;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 0px;
  position: relative;
}

.close-but {
  position: absolute;
  right: 10px;
  top: 10px;
}

.item-content {
  padding: 10px;
}

.main {
  padding: 10px;
}

.center-spinner {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #efefef;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cccccc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ababab;
}
