@import "../../variables.scss";

::ng-deep .mat-progress-bar-fill::after {
  background-color: $black;
}

::ng-deep .full-bar .mat-progress-bar-fill::after {
  background-color: red;
}

::ng-deep .mat-progress-bar-buffer {
  background: lightgray;
}

.example-viewport {
  max-height: calc(100vh - 155px);
  max-width: 900px;
  overflow-y: auto;
  // padding-left: 60px;
}

.row {
  display: flex;
  flex-wrap: nowrap;
}

.collapsed {
  max-height: 0px;
  transition: max-height 0.5s ease;
  overflow: hidden;
}

.add-plan {
  min-width: 180px;
  transition: background 0.5s ease;
  flex: 1;

  @media only screen and (min-width: 768px) {
    flex: none;
  }
}

.searchbar {
  width: 50%;
  border: 1px solid #cccccc;
  outline: none;
  margin-bottom: 5px;
}

.searchbar:focus {
  border: 1px solid #222222;
}

.progress-bar {
  position: absolute;
  bottom: 0px;
  height: 10px;
}

.item-margin {
  margin: 5px 5px 0px 0px;
  border: 1px solid #222222;
  position: relative;
}

.example-item {
  animation-name: example;
  animation-duration: 0.5s;
  cursor: pointer;
}

@keyframes example {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.close-but {
  position: absolute;
  right: 10px;
  top: 10px;
}

.item-content {
  padding: 10px;
}

.main {
  padding: 10px;
}

.center-spinner {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #efefef;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cccccc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ababab;
}

.item-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main .item-header .item-header-h1 {
  width: 90%;
  // font-size: 36px;
}

table {
  // width: 80%;
  border: 1px solid $lightgrey;
}

table thead th,
.table td {
  border: none;
}

.item-content h1 span {
  font-weight: normal;
  font-size: 16px;
}
