<mat-spinner
  *ngIf="!courseService.isLoaded()"
  class="center-spinner"
  diameter="100"
  strokeWidth="5"
></mat-spinner>

<div style="display: flex;" *ngIf="courseService.isLoaded()">
  <div class="column1 main">
    <p>
      Pinecone helps you plan, but does not guarantee your enrolment in courses,
      nor does it enforce rules of your degree or program(s). Course times are
      tentative and are subject to change. Refer to ACORN for official times and
      locations.
    </p>
    <button mat-icon-button (click)="courseService.downloadCourses()">
      <mat-icon>get_app</mat-icon>
    </button>
    <app-course-list></app-course-list>
  </div>
  <div class="column2">
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          Courses
        </ng-template>
        <app-courses></app-courses>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          Schedule Options
        </ng-template>
        <app-schedule-options></app-schedule-options>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label> Schedule </ng-template>
        <app-schedule></app-schedule>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<router-outlet></router-outlet>
