.column1 {
  // max-width: 25%;
  height: 80%;
  padding: 30px;
  padding-bottom: 0px;
}

.column2 {
  // max-width: 75%;
  height: 100%;
  padding: 30px;
  padding-bottom: 0px;
}
.app-main {
  @media screen and (max-width: 500px) {
    width: 100%;
    overflow-x: auto;
  }
}
