<div class="container-fluid p-0 schedule-main">
    <div class="row m-0">
        <div class="col-lg-12 form-group p-0" style="padding-top: 1rem !important;">
            <div class="col-sm-12 schedule-controls">
                <button mat-raised-button color="primary" class="close-but float-right ">
                    Generate Schedule
                </button>
            </div>
            <div class="col-sm-12 schedule-controls">
                <button mat-raised-button class=" close-but float-right ">
                    Clear Schedule
                </button>
            </div>
        </div>

    </div>
    <div class="col-lg-12 form-group p-0 calendar-main">
        <ejs-schedule [eventSettings]='eventSettings' [showHeaderBar]="false" [readonly]="true"
            cssClass='virtual-scrolling' [currentView]="currentView" height='450px' style="overflow-y: auto;">
            <!-- <e-views>
                <e-view option="Week" [allowVirtualScrolling]="virtualscroll"></e-view>
            </e-views> -->
        </ejs-schedule>
    </div>
</div>