<div style="display: flex; flex-direction: row; justify-content: space-evenly;">
  <div class="col1">
    <app-course-list></app-course-list>
  </div>
  <div style="width: 70%;">
    <div style="display: flex;">
      <form>
        <mat-form-field appearance="fill" class="gradient-underline">
          <input
            type="text"
            placeholder="ex. ANT100"
            matInput
            [formControl]="form"
            [matAutocomplete]="auto"
          />
          <mat-label>Search Courses</mat-label>

          <mat-autocomplete
            #auto="matAutocomplete"
            autoActiveFirstOption
            [displayWith]="displayFn"
            (optionSelected)="selectCourse($event.option.value)"
          >
            <cdk-virtual-scroll-viewport
              class="autocomplete-test-viewport"
              [ngStyle]="{ height: height }"
              itemSize="25"
            >
              <mat-option
                *cdkVirtualFor="let option of filteredCourses"
                [value]="option"
                class="autocomplete-item"
              >
                {{ option.code }}
              </mat-option>
            </cdk-virtual-scroll-viewport>
          </mat-autocomplete>

          <!-- <div class="example-viewport" *ngIf="butFocused || focused">
            <div *uiScroll="let option of datasource">
              <button
                mat-flat-button
                style="
                  padding: 5px;
                  width: 100%;
                  font-size: 20px;
                  height: 30px;
                "
                (click)="timetableService.selectCourse(option)"
                (focus)="butFocused = true"
                (focusout)="butFocused = false"
              >
                {{ option.code }}
              </button>
            </div>
          </div> -->

          <!-- <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions" [value]="option">
              {{ option }}
            </mat-option> -->
          <!-- </mat-autocomplete>  -->
        </mat-form-field>
      </form>
      <h1 style="flex: 1; padding-top: 20px;">
        {{ scheduleData.schedule.name }}
      </h1>

      <button
        mat-flat-button
        color="primary"
        class="but"
        (click)="this.timetableService.createSchedule()"
      >
        Optimize
      </button>

      <button mat-flat-button class="but" color="warn">
        Save
      </button>
    </div>

    <div style="display: flex; justify-content: space-around;">
      <div class="table-wrap">
        <table>
          <thead>
            <tr>
              <th></th>
              <th *ngFor="let day of DAYS">{{ formatDay(day) }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of slotData; let time = index">
              <td>{{ formatTime(time) }}</td>
              <td
                [ngStyle]="data.style"
                *ngFor="let data of row; let col = index"
                (click)="clickSlot(time, col)"
              >
                <p *ngFor="let text of data.texts; let ind = index">
                  {{ text }}
                  <mat-icon
                    *ngIf="data.conflicts && ind % 2 == 0"
                    style="
                      float: right;
                      font-size: 30px;
                      width: 30px;
                      height: 30px !important;
                    "
                  >
                    warning
                  </mat-icon>
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
