<mat-toolbar>
  <a routerLink="/" style="font-family: 'Pinecone';" class="logo">
    Pinecone
  </a>
  <span class="example-spacer"></span>
  <nav mat-tab-nav-bar>
    <a
      mat-tab-link
      *ngFor="let link of links"
      [routerLink]="link.route"
      [active]="router.url === link.route"
    >
      {{ link.name }}
    </a>
  </nav>
  <button (click)="sideMenu = !sideMenu" class="hamburger-btn">
    <div class="bar" [class]="sideMenu ? 'active' : ''"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </button>
</mat-toolbar>
