.app-main {
  padding: 10px;
  margin-top: 64px;
  // height: calc(100% - 80px);
}

.mat-toolbar {
  position: sticky;
  top: 0px;
  z-index: 2;
  padding: 0px 25px;
  background: #ffffff;
}

// NAVBAR RIGHT
nav a {
  width: auto;
  display: inline-block;
  position: relative;
  line-height: 64px;
  height: 64px;
  padding: 0px 20px;
  font-size: 15px;
  text-decoration: none;
  color: #919eab;
  transition: color ease-in 0.2s;
  font-weight: 600;
}

.active-nav {
  text-decoration: underline;
  padding: 0px, 30px;
  color: #476098 !important;
}

.top-bar {
  height: 0px;
  position: absolute;
  top: 0px;
  left: 20px;
  right: 20px;
  background: #476098;
  transition: height 0.2s ease;
}

.active-nav > .top-bar {
  height: 6px;
}

// PINECONE LOGO
.logo {
  font-family: 'Pinecone';
  font-size: 30px;
  text-decoration: none;
  background: #ca4246;
  background-color: #ca4246;
  background: conic-gradient(
    #ca4246 16.666%,
    #e16541 16.666%,
    #e16541 33.333%,
    #f18f43 33.333%,
    #f18f43 50%,
    #8b9862 50%,
    #8b9862 66.666%,
    #476098 66.666%,
    #476098 83.333%,
    #a7489b 83.333%
  );

  background-size: 57%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: rainbow-text-animation-rev 0.5s ease forwards;
  cursor: pointer;
}

.logo:hover {
  animation: rainbow-text-animation 0.5s ease forwards;
}

@keyframes rainbow-text-animation {
  0% {
    background-size: 57%;
    background-position: 0 0;
  }
  20% {
    background-size: 57%;
    background-position: 0 1em;
  }
  100% {
    background-size: 400%;
    background-position: -9em 1em;
  }
}

@keyframes rainbow-text-animation-rev {
  0% {
    background-size: 400%;
    background-position: -9em 1em;
  }
  20% {
    background-size: 40%;
    background-position: 0 1em;
  }
  100% {
    background-size: 40%;
    background-position: 0 0;
  }
}

// MOBILE NAVBAR
.hamburger-btn {
  height: 40px;
  background: none;
  border: none;
}

.bar {
  width: 26px;
  height: 4px;
  margin: 5px 0px;
  background: #e16541;
  transition: all 0.3s ease;
  display: none;
}

.active {
  transform: translate(-3px, 5px) rotate(-45deg);
  width: 15px;
}

.example-spacer {
  flex: 1 1 auto;
}

.active + div + div {
  transform: rotate(45deg);
}

.active + div + div {
  transform: translate(-3px, -5px) rotate(45deg);
  width: 15px;
}

.hamburgerbtn,
#hamburger,
.bar {
  display: block;
}

.hamburgerbtn {
  top: 15px;
}

.menu-option {
  color: #222222;
  display: block;
  font-size: 20px;
  height: 20px;
  margin: 10px;
}

.sidebar {
  position: absolute;
  padding: 5px;
  left: 0px;
  top: 60px;
  z-index: 4;
  height: calc(100vh - 60px);
  width: 100%;
  background: #222222;
  transition: width 0.3s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

@media only screen and (min-width: 900px) {
  .sidebar {
    width: 400px;
  }
  .hamburger-btn {
    // height: 40px;
    // background: none;
    // border: none;
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .logo {
    margin: 0 auto;
    // padding-right: 48px;
    // margin-top: 6px;
  }
  nav {
    display: none;
  }
}
