@import "../../variables.scss";

.example-viewport {
  max-height: calc(100vh - 360px);
  width: 100%;
  overflow-y: auto;
  // width: calc(100vw - 10px);
  //   border: 1px solid black;
  transition: max-height 0.2s ease;
}

.course-content {
  margin: 5px;
}

.collapsed {
  margin-left: 5px;
  margin-right: 5px;
  max-height: 0px;
  transition: max-height 0.5s ease;
  position: relative;
}

.viewport-small {
  max-height: calc(100vh - 350px);
}

.progress-bar {
  position: absolute;
  bottom: 0px;
}

.example-item {
  border: 1px solid #222222;
  // padding: 10px;
  margin: 5px;
  position: relative;
  cursor: pointer;
  animation-name: example;
  animation-duration: 0.3s;
  overflow: hidden;
}

.relative {
  // position: relative;
  display: flex;
  align-items: center;
  // flex-direction: column;
}

@keyframes example {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.section-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
}

.section-but {
  padding: 0 16px;
  margin: 5px;
  background: #f2f2f2;
  width: 100px;
  transition: all 0.3s ease;
}

.auto-checkbox {
  padding-top: 10px;
}

.selected {
  background: lightgreen;
}

.close-but {
  position: absolute;
  right: 10px;
  top: 10px;
}

.item-content {
  padding: 5px;
}

.main {
  width: 100%;
}

.scroll {
  height: calc(100vh - 185px);
  overflow-y: auto;
  padding: 5px;
}

.center-spinner {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #efefef;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cccccc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ababab;
}

.highlight-code {
  color: #0071ff;
  font-weight: bold;
}

.course-content {
  font-size: 14px;
}

// .info {
// color: $primary-blue;
// position: absolute;
// top: 10px;
// right: 10px;
// }

.mat-chip-list {
  margin: 2vh;
}
.mat-chip {
  border-radius: 0 !important;
}
