<div class="main">
  <h2 style="width: 100%;">
    <strong>Selected Courses:</strong>
  </h2>
  <!-- <mat-chip-list>
    <mat-chip color="primary" *ngIf="!timetableService.coursesSubject">No courses selected.</mat-chip>
  </mat-chip-list> -->

  <div class="scroll">
    <mat-accordion>
      <mat-expansion-panel
        [@total]
        *ngFor="
          let courseOption of scheduleData.schedule.courses;
          trackBy: trackByFn
        "
      >
        <mat-expansion-panel-header
          *ngIf="scheduleData.courses[courseOption.courseID]; let course"
          [@panel]
        >
          <mat-panel-title>
            {{ course.code }}
          </mat-panel-title>
          <mat-panel-description>
            {{ course.name }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="relative">
          <div style="flex: 1;"></div>
          <button mat-icon-button class="info">
            <mat-icon>info_outline</mat-icon>
          </button>
          <button
            mat-icon-button
            class="info"
            (click)="timetableService.removeCourse(courseOption.courseID)"
          >
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
        <ng-container
          *ngIf="
            scheduleData.courseSections[courseOption.courseID];
            let sections
          "
        >
          <div *ngIf="sections.lectures.length > 0">
            Lectures
            <div class="section-container">
              <mat-checkbox
                class="auto-checkbox"
                [checked]="courseOption.autoLecture"
                (change)="courseOption.autoLecture = $event.checked"
              >
                Auto
              </mat-checkbox>
              <button
                mat-flat-button
                class="section-but"
                *ngFor="let sect of sections.lectures"
                [ngClass]="selectedSections[sect] ? 'selected' : ''"
                (click)="selectSection(sect)"
                (mouseenter)="timetableService.hoverSection(sect)"
                (mouseleave)="timetableService.blurSection(sect)"
              >
                {{ scheduleData.sections[sect].code }}
              </button>
            </div>
          </div>
          <div *ngIf="sections.praticals.length > 0">
            <mat-divider></mat-divider>
            Praticals
            <div class="section-container">
              <mat-checkbox
                class="auto-checkbox"
                [checked]="courseOption.autoPratical"
                (change)="courseOption.autoPratical = $event.checked"
              >
                Auto
              </mat-checkbox>
              <button mat-flat-button class="section-but">Auto</button>
              <button
                mat-flat-button
                class="section-but"
                *ngFor="let sect of sections.praticals"
                [ngClass]="selectedSections[sect] ? 'selected' : ''"
                (click)="selectSection(sect)"
              >
                {{ scheduleData.sections[sect].code }}
              </button>
            </div>
          </div>
          <div *ngIf="sections.tutorials.length > 0">
            <mat-divider></mat-divider>
            Tutorials
            <div class="section-container">
              <mat-checkbox
                class="auto-checkbox"
                [checked]="courseOption.autoTutorial"
                (change)="courseOption.autoTutorial = $event.checked"
              >
                Auto
              </mat-checkbox>
              <button mat-flat-button class="section-but">Auto</button>
              <button
                mat-flat-button
                class="section-but"
                *ngFor="let sect of sections.tutorials"
                [ngClass]="selectedSections[sect] ? 'selected' : ''"
                (click)="selectSection(sect)"
              >
                {{ scheduleData.sections[sect].code }}
              </button>
            </div>
          </div>
        </ng-container>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <!-- <div>
        <div class="course-content">
          <span class="highlight-code">{{ getCode(item.code, 0) }}</span
          >&nbsp;{{ getCode(item.code, 1) }}&nbsp;
          <strong>{{ getCode(item.code, 2) }}</strong>
        </div>
        <div class="course-content">{{ item.name }}</div>
      </div>
      <div>
        <button
          mat-mini-fab
          color="default"
          class="close-but"
          (click)="timetableService.removeCourse(item)"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div
        [id]="'sel' + item.code"
        *ngIf="openItems[item.code]"
        class="collapsed"
        [style.maxHeight]="openItems[item.code].height + 'px'"
      >
        <mat-chip-list aria-label="Lectures and tuts">
          <mat-chip *ngFor="let lecs of item.lecs">{{ lecs.section }}</mat-chip>
          <mat-chip *ngFor="let tuts of item.tuts">{{ tuts.section }}</mat-chip>
        </mat-chip-list>
        <button
          mat-icon-button
          class="info float-right"
          (click)="scroll(item.code, $event)"
        >
          <mat-icon>info_outline</mat-icon>
        </button>
      </div>

      <mat-progress-bar
        mode="determinate"
        [value]="item.fillPercent * 100"
        class="progress-bar"
      ></mat-progress-bar>
    </div> -->
</div>
