<div class="schedule-options-main">
    <div class="m-0 row">
        <mat-form-field>
            <mat-label>Select year and session</mat-label>
            <select matNativeControl>
                <option value="option1">Option 1</option>
                <option value="option2">Option 2</option>
                <option value="mercedes">Option 3</option>
                <option value="audi">Option 4</option>
            </select>
        </mat-form-field>
    </div>
    <div class="m-0 row">
        <mat-form-field>
            <mat-label>Course Time Preferences</mat-label>
            <select matNativeControl>
                <option value="option1">Option 1</option>
                <option value="option2">Option 2</option>
                <option value="mercedes">Option 3</option>
                <option value="audi">Option 4</option>
            </select>
        </mat-form-field>
    </div>
</div>