* {
  margin: 0;
  padding: 0px;
}

@media (prefers-color-scheme: light) {
  html,
  body {
    --font-color: #313f4e;
    --background-color: #edf2f7;
    --card-color: #dfe6ee;
    --card-border-color:#E7EDF3;
    --input-back: #D2DCE9;
    --input-border-color: #adbfd5;
    --secondary-text: #496480;

    --button-font-color: #313f4e;
    --button-color: transparent;
    --hover-button-color: #E7EDF3;
    --button-border-color:#60A6FB;
    --hover-button-border-color: #318cfc;

    --course-font-color: #496480;
    --course-hover-font-color: #313f4e;
    --course-button-color: #dfe6ee;
    --course-hover-button-color: #E7EDF3;
    --course-button-border-color: #d2dce9;
    --course-hover-button-border-color: #318cfc;

    --nav-font-color: #313f4e;
    --nav-background-color: #edf2f7;
    --nav-button-color: #ffffff;
    --nav-hover-button-color:#FBFCFD;
    --nav-button-border-color: #dfe6ee;
    --nav-hover-button-border-color: #d2dce9;

    --footer-back: #edf2f7;
    --footer-color: #496480;
    --logo-color: #313f4e;
  }
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    --font-color: #ffffff;
    --background-color:#121212;
    --card-color: #232323;
    --card-border-color:#272727;
    --input-back: #1E1E1E;
    --input-border-color: #232323;
    --secondary-text: #B4B9BD;

    --button-font-color: #ffffff;
    --button-color: #F17B72;
    --hover-button-color: #F06E64;
    --button-border-color: #333333;
    --hover-button-border-color: #363636;

    --course-font-color: #666666;
    --course-hover-font-color: #f0f6fc;
    --course-button-color: #1E1E1E;
    --course-hover-button-color: #232323;
    --course-button-border-color: #21262d;
    --course-hover-button-border-color:  #F17B72;

    --nav-font-color: #f0f6fc;
    --nav-background-color:#121212;

    --nav-button-color: #2C2C2C;
    --nav-hover-button-color:#2E2E2E;
    --nav-button-border-color: #30363d;
    --nav-hover-button-border-color: #8b949e;

    --logo-color:#f0f6fc;
    --footer-back:#121212;
    --footer-color:#f0f6fc;
  }
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  color: var(--font-color);
  background-color: var(--background-color);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
}

button {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

button:focus,
input:focus {
  outline: none;
}

body.noscroll {
  overflow-y: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--input-border-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--card-border-color);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--secondary-text);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--secondary-text);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--secondary-text);
}