$white: #ffffff;
$black: #222222;
$grey: #ababab;
$padding: 5px;

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding-left: 20px;
}

h1 {
  font-size: 16px;
  font-weight: 700;
  color: $black;
}

.year {
  width: 322px;
  padding: 15px;
}

.programs {
  width: 322px;
  padding: 5px;
  padding-left: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
  justify-content: left;
}

.session {
  padding: $padding;
  border: 1px solid $grey;
  border-top: none;
  height: 32px;
  overflow: hidden;
  transition: height 0.5s ease;
}

.session:nth-child(2) {
  border-top: 1px solid $grey;
}

.session-active {
  height: 102px;
}

.session-title {
  flex: 1;
  // padding: 0px;
  // margin-bottom: 5px;
  padding-left: $padding;
  height: 32px;
  background: none;
}

.timetable {
  background: #0071ff;
  color: #ffffff;
  font-size: 14px;
  height: 32px;
  transition: width 0.5s ease, margin 0.5s ease;
  width: 0px;
  margin: 0px;
  margin-bottom: 5px;
  border-radius: 0;
  min-width: 0px;
  padding: 0px;
}

.timetable-open {
  display: block;
  width: 100px;
  transition: width 0.5s ease, margin 0.5s ease;
  margin-left: 5px;
}

.slot {
  background: #f3f3f3;
  width: 100px;
  height: 30px;
}

.slot-last {
  border: 1px dashed #ffa500;
}

.course-list {
  width: 310px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  // justify-content: left;
  flex-wrap: wrap;
  //   margin: 5px;
}

h2 {
  margin: 0px;
  padding: 0px;
  text-align: left;
  font-size: 18px;
}

.chip {
  width: 100%;
  background: $black;
  padding: 3px 5px;
  color: $white;
  margin: 5px 0px;
}

@media only screen and (max-width: 320px) {
  .course-list {
    width: 280px;
    height: 115px;
  }

  .session-active {
    height: 150px;
  }

  .programs {
    justify-content: left;
    padding-left: 0px;
    max-width: 100%;
  }

  .container {
    justify-content: space-evenly;
    padding-left: 0px;
  }
}

@media only screen and (min-width: 480px) {
  .year {
    width: 800px;
  }

  .programs {
    width: 800px;
  }

  .course-list {
    float: right;
  }
}

@media only screen and (min-width: 768px) {
  .chip {
    // margin: 5px;
    width: 100%;
  }

  .programs {
    // flex-direction: column;
    // width: 100%;
    // width: 1600px;
    // width: auto;
    max-width: 100%;
    // flex-grow: 2;
    padding: 5px;
    padding-left: 30px;
  }
}
